In [ ]:
#a) highly unrelated stocks

In [ ]:
import yfinance as yf

In [ ]:
df3 = yf.download('WIPRO.NS',start = '2023-04-01',end = '2024-03-31')

[*********************100%%**********************]  1 of 1 completed

In [ ]:
df1 = yf.download('PNB.NS', start= '2023-04-01',end = '2024-03-31')

[*********************100%%**********************]  1 of 1 completed

In [ ]:
df2 = yf.download('HDFCBANK',start= '2023-04-01',end = '2024-03-31')

[*********************100%%**********************]  1 of 1 completed
ERROR:yfinance:
1 Failed download:
ERROR:yfinance:['HDFCBANK']: Exception('%ticker%: No timezone found, symbol may be delisted')

In [ ]:
df2['Daily_Return'] = ((df2['Close'] - df2['Open'])/df2['Open'])

In [ ]:
df1['Daily_Return'] = ((df1['Close'] - df1['Open'])/df1['Open'])

In [ ]:
df3['Daily_Return'] = ((df3['Close'] - df3['Open'])/df3['Open'])

In [ ]:
std_df1 = df1['Daily_Return'].std()

In [ ]:
std_df2 = df2['Daily_Return'].std()

In [ ]:
std_df3 = df3['Daily_Return'].std()

In [ ]:
mean_df1